body {
  font-family: "Trebuchet MS", sans-serif;
}

* {
  margin: 0;
}

#header {
  background-color: dimgray;
  height: 4rem;
  border-bottom: 1.5rem solid LightSeaGreen;
}

h1 {
  font-size: 1.5rem;
  color: white;
}

#title {
  height: 28.5rem;
  background-color: lightgray;
  text-align: center;
  padding-top: 3rem;
}

#about {
  display: flex;
  padding: 2rem;
  gap: 2rem;
}

#about img {
  height: 17rem;
}

h3 {
  color: LightSeaGreen;
  width: 12rem;
  margin: 0 auto;        
  text-align: center;    
  padding-top: 2rem;    
}

#fav {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0 3rem 0;
}

#wish {
  padding: 0 2rem 3rem 2rem;
}

